---
import Contact from "../components/Contact";
import Main from "../components/Main";
import Minigame from "../components/Minigame.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Agustin Benvenuto | Portfolio">
  <div class="relative min-h-screen md:p-10">
    <Main client:load />
    <Minigame />
    <Projects />
    <Contact client:load />
  </div>
</Layout>

<style is:global>
  .dots {
    background-color: var(--dots-bg-color, #fff);
    background-image: radial-gradient(
        var(--dots-color, #000) 2%,
        transparent 10%
      ),
      radial-gradient(var(--dots-color, #000) 5%, transparent 5%);
    background-size: 64px 64px;
    background-position: 0 0, 32px 32px;
  }
</style>
