---
import Main from "../components/Main";
import Minigame from "../components/Minigame";
import Projects from "../components/Projects";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to my portfolio">
  <!-- <main class="flex items-center justify-center h-full">
    <h1>
      Welcome to <code
        class="text-2xl px-3 py-1 bg-purple-500 bg-opacity-20 text-purple-400 rounded-full font-bold"
        >Benve portfolio</code
      >
    </h1>
  </main> -->
  <div class="relative min-h-screen">
    <Main client:load />
    <Minigame client:visible />
    <Projects client:visible />
  </div>
</Layout>
