---
import { Icon } from "astro-icon";
import IconLink from "./IconLink.astro";
---

<style>
  div {
    --size: 10px;
  }

  #frame-1::before {
    bottom: calc(-1 * var(--size));
    left: 2.5rem;
    rotate: 0deg;
  }
  #frame-2::before {
    top: calc(-1 * var(--size));
    left: 2.5rem;
    rotate: -90deg;
  }
  #frame-1::after {
    bottom: calc(-1 * var(--size));
    right: 2.5rem;
    rotate: 90deg;
  }
  #frame-2::after {
    top: calc(-1 * var(--size));
    right: 2.5rem;
    rotate: 180deg;
  }

  #frame-1::before,
  #frame-2::before,
  #frame-1::after,
  #frame-2::after {
    content: "";
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-image: radial-gradient(
      circle at 100% 100%,
      transparent var(--size),
      #ffffff calc(var(--size) + 1px)
    );
    z-index: 50;
  }
</style>

<div class="min-h-screen h-0">
  <div class="hidden md:block">
    <div id="frame-1" class="z-40 fixed bg-light top-0 left-0 w-full h-10">
      <div class="flex mx-10 items-center h-full">
        <a
          onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
          class="cursor-pointer"
        >
          <Icon name="logo" class="w-8" />
        </a>
      </div>
    </div>
    <div id="frame-2" class="z-40 fixed bg-light bottom-0 left-0 w-full h-10">
    </div>
    <div class="z-40 fixed bg-light top-0 bottom-0 left-0 w-10 h-full"></div>
    <div class="z-40 fixed bg-light top-0 bottom-0 right-0 w-10 h-full">
      <div
        class="flex flex-col justify-center gap-4 my-10 items-center w-full h-[calc(100%-5rem)]"
      >
        <IconLink href="https://www.instagram.com/agus.benve/">
          <Icon slot="icon" name="mdi:instagram" class="w-6" />
          <Icon
            slot="hover-icon"
            name="ic:baseline-keyboard-arrow-right"
            class="w-6"
          />
        </IconLink>
        <IconLink href="https://www.linkedin.com/in/abenve/">
          <Icon slot="icon" name="mdi:linkedin" class="w-6" />
          <Icon
            slot="hover-icon"
            name="ic:baseline-keyboard-arrow-right"
            class="w-6"
          />
        </IconLink>
        <IconLink href="https://github.com/aBenve">
          <Icon slot="icon" name="mdi:github" class="w-6" />
          <Icon
            slot="hover-icon"
            name="ic:baseline-keyboard-arrow-right"
            class="w-6"
          />
        </IconLink>
      </div>
    </div>
  </div>
  <slot />
</div>
