---
const { href } = Astro.props;
---

<a
  class="group relative flex items-center justify-center h-8 w-8 rounded-full bg-neutral-300 bg-opacity-0 hover:bg-opacity-30 transition-[opacity] ease-in-out duration-300"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <div
    class="absolute group-focus:h-0 group-hover:opacity-0 group-focus:opacity-0 transition-[opacity] ease-in-out duration-300"
  >
    <slot name="icon" />
  </div>
  <div
    class="absolute group-hover:opacity-100 group-focus:opacity-100 opacity-0 transition-[opacity] ease-in-out duration-300"
  >
    <slot name="hover-icon" />
  </div>
</a>
