---
import Project from "./Project.astro";
import projects from "../../projects/projects.json";
---

<section
  class="dots [--dots-color:#f0f0f0] relative flex flex-col items-center z-20 bg-second-light min-h-fit"
>
  <h2
    class="font-secondary md:text-4xl text-2xl italic font-normal py-20 md:py-36"
  >
    Projects
  </h2>
  <div
    class="grid w-full grid-cols-1 md:grid-cols-2 xl:grid-cols-3 auto-rows-fr"
  >
    {projects.map((project) => <Project {...project} key={project.title} />)}
  </div>
</section>
